$allegroOrange: #FF5A00;

.scroll-button {
  height: auto;
  width: auto;
  position:fixed;
  left: -0.2em;
  bottom: 1em;
  background-color: white;
  color: $allegroOrange;
  border-color: $allegroOrange;
  padding: 0.2em 0.1em;
  line-height: 0;
  font-size: 0.8em;
}

.scroll-button:hover {
  color: #fff;
  background-color: $allegroOrange;
  border-color: $allegroOrange;
}

.scroll-button:focus {
  box-shadow: 0 0 0 0.2rem $allegroOrange;
}

.scroll-button span {
  padding: 0;
  margin: 0;
}

.story-board {

}
