<app-header id="top"></app-header>
<div class="container mt-5">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem *ngFor="let story of stories">
      <a ngbNavLink>{{story.name}}</a>
      <ng-template ngbNavContent>
        <div class="story-board mt-5 mb-5 text-center text-monospace" *ngFor="let item of story.items">
          <span class="text-white">{{item.text}}</span><br />
          <img class="shadow mt-2" src="{{'/assets/'+item.gif}}"/>
        </div>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<a href="#top" class="btn btn-lg btn-outline-primary scroll-button" ngbTooltip="Na górę" pageScroll pageScrollDuration="500" [pageScrollEasing]="myEasing">
  <span class="material-icons">arrow_upward</span>
</a>
